@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
}

h1, h3 {
    /* background-color: red; */
    text-align: center;
}

.box {
    border-radius: 3px;
    outline: 8px dashed rgb(223, 180, 38);
    box-shadow: 0 0 0 8px black;
    max-width: fit-content;
}

#img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 5px solid transparent; */
    /* border-image: 16 repeating-linear-gradient(-45deg, red 0, red 1em, transparent 0, transparent 2em, #58a 0, #58a 3em, transparent 0, transparent 4em); */
}

a {
    margin-top: 30px;
    text-align: center;
}