@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}
:root{
  --text-color: whitesmoke;
  --background-color-dark: #282c34;
  --background-color-highlight: #c05b1c;
}


.App {
  text-align: center;
  color: var(--text-color);
  background-color: var(--background-color-dark);
  min-height: 100vh;
  z-index: 0;
}





.SecretPage{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.SecretPage a{
  margin-top: 15px;
}
