@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Mono', monospace;
}

.App {
  text-align: center;
  color: whitesmoke;
  background-color: #282c34;
  z-index: 0;
}





.SecretPage{
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.SecretPage a{
  margin-top: 15px;
}
