.Header{
    width: 100%;
    min-height: 50px;

    background-color: #c05b1c;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Header .Link{
    min-width: 90px;
    width: 8%;
    margin: 0;
    padding: 8px;

    color: whitesmoke;
    background-color: #282c34;
    border-radius: 2px;

    text-decoration: none;
    position: relative;

    transition: background-color 0.3s;
}


.Header .Link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 4px;
    left: 50%;
    position: absolute;
    background: #fff;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.Header .Link:hover:after {
    width: 100%;
    left: 0;
}